/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset  */

/* body of styles */
* {
    box-sizing: border-box;
}  
body{
    display: grid;
    grid-template-columns: [first] 90px [second] auto;
}
section{
    padding: 10px;
    margin-bottom: 22px;
}

.container{
    padding:1px;
    margin:0;
    width:100%;
}

header.container{
    text-align: center;
}

footer.container{
    display: block;
    position: absolute;
    margin-top: 10px;
    bottom: 0;
    padding-top:10px;
    padding-bottom:10px;
    left: 100px;
    float: left;
}

section.container{
    padding-left:20px;
}

.navbar{
    top: 0;
    left: 0;
    position: fixed;
    background-color:orange;
    height: 100%;
    width: 80px;
    grid-column: first;
}
.navbar a{
    display: block;
    padding: 15px
}
#info--section{
    grid-column: second;
    left:1;
}
.info--banner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:2px;
    margin:auto;
    padding: 5px;


}

#highlight--section{
    grid-column: second;
}
.highlight--pic{
    margin:20px;
}
.highlight--pic img{
    padding:10px;
}
.footer--section{
    grid-column: second;
    grid-row:10;
}


#artist--section{
    grid-column: 2;
}

#genre--section{
    grid-column: 2;
}

#profile--section{
    grid-column: 2;
}

.profile--form{
    display:flex;
    flex-direction: column;
}

#beats--section{
    grid-column: 2;
}

#purchase--section{
    grid-column: 2;
}

/* media */

@media only screen and (max-width: 768px) {
    /* For mobile phones and tablets: */
    [class*="col-4"] {
        width: 100%;
    }
} 

@media only screen and (min-width: 768px) {
    [class*="col-12"] {
        width: 100%;
    }
} 

@media only screen and (max-width: 600px) {
    img {
        display: none;
    }
} 


